html, body {
    min-height: 100%;
    height: 100%;
}

main {
    min-height: calc(100vh - 128px);
}

* {
	margin: 0;
}

a, a:hover {
	color: #fff;
}

a {
	opacity: .5;
}

a:hover {
	opacity: 1;
	text-decoration: none;
}

.bg-topo {
	background: linear-gradient(to bottom,rgba(34, 65, 97, 0.8) 0,rgba(255, 255, 255, 0.329) 100%),url(../imgs/bg-header.jpg);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 70px;
}

.container-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #456477;
    z-index: 99;
}

.alert {
	display: none;
}

.error {
	color: #721c24;
	border-color: #f5c6cb;
}

label.error {
    margin-bottom: 0;
}

.footer {
	background-color: #456477;
}

@media (max-width: 992px) {
	.nav-link {
		padding: 10px 0;
	}
}